<%- include('../_partials/navbar_partial') %>
<div class="columns is-mobile is-centered">
    <div class="column is-full">
        <section class="hero bd-hero bd-is-expo">
            <div class="hero-body">
                <div class="container">
                    <div class="bd-hero-body">
                        <div class="bd-hero-heading">
                            <h1 class="title algolia-lvl0">
                                <p><strong><%- brewery.name %></strong></p>
                            </h1>
                            <div class="subtitle is-4 algolia-lvl1">
                                <p><%- brewery.city %>,<%- brewery.state %>-<b><%- brewery.country %></b></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="bg-img" style="background-image: url('<%-image%>')">
            <div class="block" style="min-height:800px; min-width:100%"></div>
        </div>
        <div class="block">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam atque aut autem beatae
                consequuntur cupiditate dicta dignissimos distinctio ducimus ea excepturi expedita facilis fuga harum
                illo laborum minima molestiae mollitia natus nulla numquam, obcaecati optio perspiciatis quam quasi sit
                soluta temporibus ullam velit vitae voluptas voluptate voluptatem! Ab, animi assumenda aut autem
                consectetur, cum cupiditate eveniet excepturi fuga fugit in inventore, itaque labore laborum modi
                mollitia necessitatibus nemo obcaecati officiis possimus provident quaerat recusandae repudiandae
                sapiente sunt temporibus ullam unde ut vitae voluptatibus. Ad aliquid blanditiis eos, et id impedit
                laborum minima quis voluptatem! Aspernatur deserunt dolorum rem sunt.</p>
        </div>
    </div>
</div>
