
<div class="card">
    <div class="card-image">
        <figure class="image is-4by3">
            <img src="<%- images[index].src.medium %>" alt="Placeholder image">
        </figure>
    </div>
    <div class="card-content">
        <div class="media">
            <div class="media-content">
                <p class="title is-4"><%- brewery.name %></p>
                <p class="subtitle is-6"><%- brewery.city %>, <%- brewery.state %></p>
            </div>
        </div>

        <div class="content">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores explicabo odit quidem similique. Alias
            animi aperiam at dicta dignissimos distinctio ea maxime quas sit tempora.
            <div class="block"></div>
            <a class="button is-dark is-outlined" href="/brewery/<%- brewery.id %>">Detay</a>
        </div>
    </div>
</div>
